/* Classes */

.align-form-buttons {
	margin-right: 42px;
}

.align-home-link {
	display: inline-block;
	padding-top: 5px; 
}

.container {
	width: 550px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
}

.display-block {
	display: block;
}

.display-inline {
	display: inline;
}

.display-inline-block {
	display: inline-block;
}

.form-group {
	line-height: 24px;
	margin-bottom: 5px;
}

.form-input:hover {
	border-color: rgb(0, 100, 255);
}

.form-label {
	display: inline-block;
	width: 135px;
	text-align: right;
	padding-right: 10px;
}

.input-wide {
	width: 350px;
}

.pull-right {
	text-align: right;
	float: right;
}

.search-label {
	padding-right: 10px;
}

.search-result {
	padding: 1px 10px 1px 10px;
	margin-top: 10px;

	border-left: 5px solid rgb(0, 129, 169);
	background: #fcfcfc;
}

.share {
	display: inline-block;
	width: 100px;
}

/* /Classes */

/* Elements */

a {
	color: rgb(0, 129, 169);
	text-decoration: none;
}

a:hover {
	color: rgb(0, 100, 255);
}

body {
	font-family: "Helvetica neue",Helvetica,Arial,sans-serif;
}

input[type="text"] {	
	height: 20px;
	border: 1px #ccc solid;
	font-size: 14px;
	padding-left: 10px;
	border-radius: 4px;
}

input[type="submit"],
input[type="reset"] {
	-webkit-appearance: none;
	height: 24px;
	border: 1px #ccc solid;
	font-size: 14px;
	border-radius: 4px;
	background: white;

}

input[type="submit"]:hover,
input[type="reset"]:hover {
	background: #ccc;
}

label {
	font-weight: bold;
	font-size: 12px;
}

/* /Elements */